.swal2-title {
  font-size: 1.3rem !important;
}

.swal2-content {
  font-size: 1rem !important;
}

.swal2-styled .swal2-confirm {
  font-size: 1em !important;
}

.swal2-styled .swal2-cancel {
  font-size: 1em !important;
}
