.ticket {
    width: 155px;
    max-width: 155px;
}

.ticket * {
    font-size: 11px;
    font-family: 'Times New Roman';
}

.ticket td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

.ticket td.description,
th.description {
    width: 75px;
    max-width: 75px;
}

.ticket td.quantity,
th.quantity {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

.ticket td.price,
th.price {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

.ticket .centered {
    text-align: center;
    align-content: center;
}

.footer-text .footer-title {
    font-size: 12px;
}

.ticket .footer-text {
    font-size: 8px;
}

.ticket img {
    max-width: inherit;
    width: inherit;
}